html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

header {
    text-align: center;
    height: 500px;
    width: 100%;
    background: url("../game_v2/images/background.png");
}

header h1, header h2{
    margin-top: 60px;
}

h1 {
    font-size: 80px;
    color: white;
}

h2 {
    font-size: 50px;
    color: silver;
}

body {
    text-align: center;
    background-color: black;
}

.b1, .b2, .b3{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 20%;
}

.click {
    margin-top: 50px;
    margin-bottom: 100px;
    height: 50px;
    width: 20%;
}

h3 {
    color: white;
    font-size: 50px;
}

h4 {
    color: white;
    font-size: 40px;
}

p {
    color: silver;
    font-size: 25px;
}

footer{
    margin-top: 100px;
}

.sec1, .sec2, .sec3 {
    padding-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 15%;
}

.big_button {
    width: 75%;
}